.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  padding-left: 10px;
  margin-left: 10px;
  background: black;
}

td.table_view, th.table_view{
  border: 1px solid black;
}

table{
  /*margin: auto;*/
}

th{
  background: #ffc200;
  padding: 10px;
  min-height: 50px;
  justify-content: center;
}

td{
  padding: 5px;
  background: blanchedalmond;
}

nav-link{
  font-size: 20px;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
}

a{
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  background: aqua;
}

#navbar{
  margin-bottom: 10px;
  display: flex;
  align-items:center;
}

#nav-search{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#container{
  display: flex;
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 128px;
  height: 128px;
  margin: 20px;
}

.list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.item-container{
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  margin: 18px;
}

.item-left-column{
  align-self: center;
}

.item-right-column{
  padding: 10px;
}

p.item-name{
  color:navy;
  width: 200px;
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Sale Page */
#sale-view{
  width: 100%;
  justify-content: space-around;
}

#sale-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 300px;
}

#sale-table{
  min-width: 520px;
  align-items : flex-start;
}

#sale-input{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #61dafb;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

#sale-console{
  word-wrap: break-word;
  max-width: 300px;
  /*overflow: auto;*/
  background: #282c34;
  color: aliceblue;
  padding: 8px;
}

#sale-remove-btn{
  background: red;
}

